.sign-up-section {
  width: 100%;
  height: 180vh;
  background: #f7f7f7;
  margin-top: -10rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    height: 210vh;
  }

  h3 {
    font-size: 3.5rem;
    width: 30%;
    text-align: center;
    margin: 2rem auto;

    @media screen and (max-width: 700px) {
      width: 50%;
    }
  }

  .form-container {
    width: 60%;
    height: 80%;
    margin: 2rem auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: .2rem .2rem 3rem #ccc;

    @media screen and (max-width: 800px) {
      height: 76%;
      width: 80%;
    }

    @media screen and (max-width: 427px) {
      height: 73%;
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 90%;
    border-bottom: 1px solid #ccc;

    &:nth-child(4) {
      border-bottom: none;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 70%;
    }

    label {
      font-size: 1.4rem;
      font-weight: 700;
      margin-top: 4rem;
      margin-bottom: 2rem;
      text-transform: uppercase;

      &:nth-child(3) {
        margin-top: 0;
      }
    }

    input {
      width: 60%;
      margin-bottom: 4rem;
      border-radius: 5px;
      padding: 2rem;
      border: 1px solid #ccc;
    }

    &__radio {
      width: 70%;
      display: flex;
      align-content: space-between;
      margin-bottom: 2rem;
      
      input {
       width: 10%;
       padding: 0;
       height: 2rem;
       margin-bottom: 0;
       display: inline-block;
      }

      span {
        margin-left: 0;
        align-self: center;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    textarea {
      font-family: 'Montserrat', sans-serif;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 2rem;
    }
  }

  .input-container:last-child {
    border-bottom: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .submit {
    display: block;
    text-transform: uppercase;
    padding: 2rem 10rem;
    border: 0;
    border-radius: 2.5rem;
    font-weight: 700;
    background: #FFC80A;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 966px) {
      bottom: 1%;
    } 

    @media screen and (max-width: 800px) {
      bottom: 13%;
    }

    @media screen and (max-width: 712px) {
      bottom: 10%;
    }

    @media screen and (max-width: 500px) {
      padding: 2rem 6rem;
      bottom: 7%;
    }
  }
}