.main-section {
  width: 100%;
  background: #f7f7f7;
  margin-top: -11rem;
  position: absolute;

  h3 {
      font-size: 3.5rem;
  }
}

.main-container {
  display: flex;
  margin: 7rem auto;
  width: 80%;
  height: 57rem;

  &__products-box {
    width: 70%;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
  }

  &__favorites {
    width: 25%;

    p {
      text-align: center;
      margin: 3rem;
    }
  }
}

.product {
  height: 20%;
  width: 20%;
  padding: 1rem;
  position: relative;
  display: flex;
  background: #fff;
  box-shadow: .2rem .2rem 3rem #ccc;
  margin-top: 2rem;
  margin-right: 2rem;

  &__fav {
    height: 1.2rem;
  }

  &__beer {
    height: 10rem;
    margin: 2rem 1rem;
  }

  &__description {
    margin-top: 0.5rem;
    margin-left: 1rem;

    h4 {
      font-size: 1.4rem;
      width: 50%;
      text-transform: uppercase;
    }

    p {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
    }

    span {
      display: block;
    }

    span:first-child {
      color: #B0B3B6;
    }
  }
}

.favorites-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 4rem;

  &__item {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}