/* U prikazivanju naslova na svakoj pojedinoj "kartici", morao sam dodati opciju elipsis overflowa jer su neki naslovi predugački te ruše izgled */

.product {
  height: 28%;
  width: 25%;
  padding: 1rem;
  position: relative;
  display: flex;
  background: #fff;
  box-shadow: .2rem .2rem 3rem #ccc;
  margin-top: 2rem;
  margin-right: 2rem;
  border-radius: 0.5rem;

   @media screen and (max-width: 1050px) {
      width: 40%;
      height: 15rem;
  }
  
  @media screen and (max-width: 880px) {
      width: 35%;
      height: 15rem;
  }

  @media screen and (max-width: 750px) {
      width: 55%;
      height: 15rem;
      margin: 2rem auto;
  }

  @media screen and (max-width: 600px) {
    margin-right: 4rem;
    height: 56%;
    width: 30%;
  }

  &__fav {
    height: 1.2rem;
  }

  &__beer {
    height: 10rem;
    margin: 2rem 1rem;
    width: 20%;
  }

  &__description {
    margin-top: 0.5rem;
    margin-left: 1rem;

    h4 {
      font-size: 1.2rem;
      width: 55%;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media screen and (max-width: 750px) {
        width: 50%;
      }

      @media screen and (max-width: 600px) {
        width: 30%;
      }
    }

    p {
      display: flex;
      font-size: 1.4rem;

      @media screen and (max-width: 600px) {
        font-size: 1.2rem;
      }
    }

    span {
      display: block;
    }

    span:first-child {
      color: #B0B3B6;
      margin-right: 1.5rem;

      @media screen and (max-width: 600px) {
        margin-right: 0.5rem;
      }
    }
  }
}