.modal {
  width: 50%;
  height: 80%;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  z-index: 999;

  .icons {
    height: 5%;
    position: absolute;
    top: 8%;
    cursor: pointer;
  }

  img:first-child {
    left: 5%;
  }

  img:nth-child(2) {
    right: 5%;
  }

  img {
    height: 70%;
    align-self: center;
  }

  &__about {
    width: 40%;
    height: 70%;
    align-self: center;

    h3 {
      //margin-top: 6rem;
      width: 50%;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 4rem;
    }
  }
}