:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Montserrat', sans-serif;
}

.App {
  background-image: url(./assets/pattern.svg);
  background-size: contain;
  position: relative;
}