.banner-section {
  width: 75%;
  margin: 3rem auto;
}

.banner {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__title-box {
    width: 45%;
    color: #fff;
    text-transform: uppercase;

    h5 {
      font-size: 1.6rem;
    }

    h1 {
      font-size: 8rem;
    }
  }

  &__img {
    margin-top: 6.5rem;
    position: relative;
    z-index: -1;

    img:nth-child(2) {
      position: absolute;
      bottom: 12%;
      right: 5rem;
      z-index: 999;
    }
  }
}